# Prerequisites
*.d

# Object files
*.o
obj/
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Executables
dungeon_cards_clone
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Build directories
build/
bin/