<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<<<<<<<< HEAD:resource/framework/SDL2.framework/Versions/A/Resources/Info.plist
	<key>BuildMachineOSBuild</key>
	<string>18D109</string>
========
>>>>>>>> d7aea5bdb5e8756226dc5230a6a2ba0e01149398:resource/framework/temp/SDL2-2.30.0/Xcode/SDL/Info-Framework.plist
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>http://www.libsdl.org</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Simple DirectMedia Layer</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
<<<<<<<< HEAD:resource/framework/SDL2.framework/Versions/A/Resources/Info.plist
	<string>2.0.10</string>
========
	<string>2.30.0</string>
>>>>>>>> d7aea5bdb5e8756226dc5230a6a2ba0e01149398:resource/framework/temp/SDL2-2.30.0/Xcode/SDL/Info-Framework.plist
	<key>CFBundleSignature</key>
	<string>SDLX</string>
	<key>CFBundleVersion</key>
<<<<<<<< HEAD:resource/framework/SDL2.framework/Versions/A/Resources/Info.plist
	<string>2.0.10</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10E1001</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18E219</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1020</string>
	<key>DTXcodeBuild</key>
	<string>10E1001</string>
========
	<string>2.30.0</string>
>>>>>>>> d7aea5bdb5e8756226dc5230a6a2ba0e01149398:resource/framework/temp/SDL2-2.30.0/Xcode/SDL/Info-Framework.plist
</dict>
</plist>
